# Object files
*.o

# Libraries
*.lib

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# custom
old/grammar-generator/parser.tab.*
old/grammar-generator/parser.output
old/grammar-generator/lex.yy.c
old/grammar-generator/generator
