# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# custom
grammar-generator/parser.tab.*
grammar-generator/parser.output
grammar-generator/lex.yy.c
grammar-generator/generator
